



body {
  background: #000;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.productos-tienda {
  width: 100%;
}

.logo {
  width: 5%;
  padding: 20px 20px;
}


.carrousel-component {
  text-align: center;
  display: inline-flex;
  padding: 20px 0px;
  cursor: pointer;
}

.portada-ima {
  width: 51%;
}

.portada-ima img {
  width: 125%;
  transform: rotate(35deg);
  margin-top: -52px;
}

.el-texto {
  font-size: 18px;
  margin-top: 60px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

.add-cart-slider {
  background: linear-gradient(to right, #7dc648, #74d2a9);
  margin: auto;
  padding: 5px;
  color: white;
  border-radius: 4px;
  font-size: 11px;
  margin-top: 10px;
  width: 32%;
  font-weight: bold;
  cursor: pointer;
}

.header {
  margin: 0px;
  display: inline-flex;
  width: 100%;
  font-weight: bold;
text-transform: uppercase;
font-size: 12px;
font-family: Montserrat;
  padding: 13px 0px;
  background: black;
}

.header a {
  color: #888888;
  text-decoration: none;
}

.menu {
  padding: 20px;
    text-align: right;
  width: auto;
}

.menu ul {
  margin: 0px;
  display: inline-flex;
  padding: 0px;
}

.menu li {
  margin-left: 25px;
  list-style: none;
  color: white;
}

.menu li a {
  color: white;
  text-decoration: none;
}

.carrito {
  width: 75%;
  padding: 20px 23px;
  text-align: right;
  color: #888888;
}
.agregar {
  padding: 20px 23px;
  width: 10%;
}

.carrito-sub {
  position: absolute;
  background: white;
  padding: 20px;
  color: black;
  margin-left: -5%;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.home-flex {
  display: flex;
  width: 100%;
  margin-top: -81px;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.title-descripcion {
  color: #2d9786;
    font-size: 49px;
    font-weight: bold;
    margin-top: 8%;
    text-align: right;
    width: 27%;
    text-transform: uppercase;

}

.title-descripcion span {
  font-size: 40px;
  color: #e0b83e;
  font-weight: bolder;
}

.title-carrito {
  margin-top: 10%;
  margin-left: -5%;
}

.title-home {
  font-size: 24px;
  font-weight: bold;
  color: #cece2f;
  text-transform: uppercase;
}

.precio-home {
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.button-add {
  padding: 10px 17px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(to right, #7dc648, #74d2a9);
  cursor: pointer;
}



.slider {
  width: 100%;
  text-align: center;
  background: #e9e9e9;
  padding: 0px 0px;
  display: flex;
}

.slider-home {
  background: white;
width: 30%;
margin: auto;
    margin-right: auto;
  background-size: cover;
  height: 220px;
}

.container-tienda {
  background: white;
  width: 93%;
  margin: auto;
  margin-top: 1px;
  height: 500px;
  padding: 1px;
  border-radius: 5px;
}


.productos {
  width: 100%;
  margin: auto;
  display: flex;
}

.productos-map {
  margin: auto;
  border: 1px solid #d9d9d9;
  padding: 20px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  color: #212122;
}

.imagen-productos {
  width: 27vh;
  background-size: cover;
  height: 16vh;
  opacity: 0.7;
}

.button-add-tienda {
  background: #18354f;
  color: white;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  text-transform: none;
}

.search-producto {
  padding: 8px 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  width: 50%;
  border: 1px solid #d9d9d9;
}

.buscador-productos span {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #18354f;
}


.flex-box {
  display: inline-flex;
  width: 100%;
}
.imagenes-muestra {
  width: 45%;
  text-align: center;
}
.info-producto {
  width: 55%;
}

.titulo-producto {
  font-weight: bold;
  font-size: 42px;
  text-transform: uppercase;
}
.descripcion-producto {
  font-size: 15px;
  font-weight: lighter;
  color: #666666;
}

.imagenes-galeria-active {
  background-size: 90%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.imagenes-galeria {
  border: 2px solid #dcdcdc;
  background-size: 100%;
  height: 100px;
  width: 100%;
  margin-right: 5px;
  background-repeat: no-repeat;
}

.delete-producto {
  background: #d27171;
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}
 
.container-tienda-flex {
  background: white;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  min-height: 500px;
  padding: 1px;
  border-radius: 5px;
  display: flex;
}

.flex-tab {
  border-right: 1px solid black;
  padding: 10px 29px;
}

.flex-tab ul {
  padding: 0px;
  margin: 0px;
}

.flex-tab li {
  list-style: none;
  background: #e9e9e9;
  margin-bottom: 10px;
  padding: 10px;
}

.tab {
  padding: 20px;
}

.form-add input, .form-add label {
  display: block;
  width: 100%;
}







.sidebar-cat {
  width: 190px;
  padding: 5px 10px;
}

.sidebar-cat ul {
  padding: 0px;
  margin: auto;
  list-style: none;
}

.sidebar-cat li {
  font-weight: bold;
  background: #142659;
  margin-bottom: 3px;
  padding: 10px 7px;
  border-radius: 3px;
  font-size: 14px;
  letter-spacing: 2px;
}

.sidebar-cat li a {
  color: white;
  text-decoration: none;
}